/* Custom CSS */
.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgb(150, 221, 197);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    margin-top: 10px;
}
