
<body>
<h2  align = "center"><b>WELCOME TO CROP-DEAL </b> </h2>
   <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/login">Login</a>
          </li>
          <div>
          <li class="nav-item register">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://localhost:4200/register">Farmer</a></li>
              <li><a class="dropdown-item" href="http://localhost:4200/dealerregister">Dealer</a></li>
            </ul>
          </li>
          </div>
          </ul>
      </div>
    </div>
   </nav>
  
 
  
   <!-- <div class="bg-dark" style="width: 100%;">
    <div class="container-fluid" style="text-align: center;">
      <img src="../../../assets/images/CropDealLogo.png" style="border-radius: 15px; height: 350px; width: 550px;" alt="CropDeal">
    </div> -->
  
    <div class="icons-container">
      <div class="icons">
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/images/card1.jpeg" class="card-img-top" alt="Crops" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" style="font-size: large; font-weight: bold;">Crops</h5>
            <p class="card-text">Explore a variety of high-quality crops from local farmers.</p>
          </div>
        </div>
  
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/images/card2.jpg" class="card-img-top" alt="Invoices" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" style="font-size: large; font-weight: bold;">Invoices</h5>
            <p class="card-text">View and manage your crop purchase invoices with ease.</p>
          </div>
        </div>
  
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/images/card3.jpeg" class="card-img-top" alt="Subscriptions" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" style="font-size: large; font-weight: bold;">Subscriptions</h5>
            <p class="card-text">Subscribe to your favorite crop types for regular updates and offers.</p>
          </div>
        </div>
      </div>
    </div>
  
</body>
  
  